In [6]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [7]:
path = '/Users/malavica/Library/CloudStorage/OneDrive-Personal/Documents/careerfoundry/achviement 4/4'
df_combined= pd.read_pickle(os.path.join(path,'df_combined.pkl'))

In [8]:
df_combined.head()

,user_id,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,spending_flag,median_order_frequency,order_frequency_flag,gender,state,age,date_joined,n_dependants,fam_status,income
0,1,2539329.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,Soda,...,Low spender,20.5,Non-frequent customer,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,15,2968173.0,15.0,1.0,9.0,7.0,196.0,2.0,0.0,Soda,...,Low spender,8.0,Frequent customer,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,19,2293453.0,2.0,5.0,14.0,6.0,196.0,3.0,0.0,Soda,...,Low spender,6.0,Frequent customer,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,21,1573906.0,10.0,3.0,10.0,6.0,196.0,2.0,0.0,Soda,...,Low spender,7.0,Frequent customer,NaN,NaN,NaN,NaT,NaN,NaN,NaN
4,31,1593000.0,10.0,3.0,8.0,7.0,196.0,17.0,0.0,Soda,...,Low spender,7.5,Frequent customer,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [9]:

# For the df_combined DataFrame
print("Columns in df_combined:")
print(list(df_combined.columns))

Columns in df_combined:
['user_id', 'order_id', 'order_number', 'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order', 'product_id', 'add_to_cart_order', 'reordered', 'product_name', 'aisle_id', 'department_id', 'prices', '_merge', 'busiest_day', 'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag', 'mean_spend', 'spending_flag', 'median_order_frequency', 'order_frequency_flag', 'gender', 'state', 'age', 'date_joined', 'n_dependants', 'fam_status', 'income']

# PII Risk Assessment:
High risk (Direct Identifiers):
user_id, order_id: Unique identifiers.
First Name and Surname: Directly identifies an individual.

Moderate Risk (Indirect Identifiers):   
gender, state, age, date_joined, n_dependants, fam_status, income: 
These can be used in combination to re-identify individuals.

Lower Risk (Sensitive Data):
product_id, product_name, aisle_id, department_id: Could reveal personal preferences.
loyalty_flag, mean_spend, spending_flag: Related to consumer behavior.

In [10]:


# Define the state to region mapping
region_mapping = {
    'Northeast': ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey'],
    'Midwest': ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri'],
    'South': ['Delaware', 'Maryland', 'Virginia', 'West Virginia', 'Kentucky', 'North Carolina', 'South Carolina', 'Tennessee', 'Georgia', 'Florida', 'Alabama', 'Mississippi', 'Arkansas', 'Louisiana', 'Texas', 'Oklahoma'],
    'West': ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']
}

# Inverse the mapping for easier lookup
state_to_region = {state: region for region, states in region_mapping.items() for state in states}

# Map each state to its region
df_combined['region'] = df_combined['state'].map(state_to_region)

# Group by Region and Spending Flag
grouped_data = df_combined.groupby(['region', 'spending_flag']).sum()

# Display the results
print(grouped_data)

TypeError: datetime64 type does not support sum operations

In [11]:
path = '/Users/malavica/Library/CloudStorage/OneDrive-Personal/Documents/careerfoundry/achviement 4/4'
df_combined= pd.read_pickle(os.path.join(path,'df_combined.pkl'))

In [12]:

# For the df_combined DataFrame
print("Columns in df_combined:")
print(list(df_combined.columns))

Columns in df_combined:
['user_id', 'order_id', 'order_number', 'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order', 'product_id', 'add_to_cart_order', 'reordered', 'product_name', 'aisle_id', 'department_id', 'prices', '_merge', 'busiest_day', 'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag', 'mean_spend', 'spending_flag', 'median_order_frequency', 'order_frequency_flag', 'gender', 'state', 'age', 'date_joined', 'n_dependants', 'fam_status', 'income']

In [13]:
import pandas as pd

# Assuming df_combined is your DataFrame

# Step 1: Determine the number of orders per customer
order_counts = df_combined.groupby('user_id')['order_number'].max()

# Step 2: Create the exclusion flag
order_counts_df = order_counts.reset_index(name='total_orders')
order_counts_df['exclusion_flag'] = order_counts_df['total_orders'] < 5

# Step 3: Merge the flag back to the original DataFrame
df_combined_with_flag = pd.merge(df_combined, order_counts_df[['user_id', 'exclusion_flag']], on='user_id')

# Step 4: Create the conditional subset
active_customers_df = df_combined_with_flag[df_combined_with_flag['exclusion_flag'] == False]

In [14]:
active_customers_df.head()

,user_id,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,median_order_frequency,order_frequency_flag,gender,state,age,date_joined,n_dependants,fam_status,income,exclusion_flag
1,15,2968173.0,15.0,1.0,9.0,7.0,196.0,2.0,0.0,Soda,...,8.0,Frequent customer,NaN,NaN,NaN,NaT,NaN,NaN,NaN,False
3,21,1573906.0,10.0,3.0,10.0,6.0,196.0,2.0,0.0,Soda,...,7.0,Frequent customer,NaN,NaN,NaN,NaT,NaN,NaN,NaN,False
4,31,1593000.0,10.0,3.0,8.0,7.0,196.0,17.0,0.0,Soda,...,7.5,Frequent customer,NaN,NaN,NaN,NaT,NaN,NaN,NaN,False
5,43,2580647.0,6.0,4.0,16.0,4.0,196.0,9.0,0.0,Soda,...,3.5,Frequent customer,NaN,NaN,NaN,NaT,NaN,NaN,NaN,False
15,222,2505656.0,17.0,2.0,12.0,1.0,196.0,2.0,0.0,Soda,...,1.5,Frequent customer,NaN,NaN,NaN,NaT,NaN,NaN,NaN,False

In [15]:
# Assuming df_combined is your original DataFrame
# Assuming active_customers_df is the DataFrame after applying the exclusion flag

# Count unique customers in the original DataFrame
original_customer_count = df_combined['user_id'].nunique()

# Count unique customers in the subset DataFrame
active_customer_count = active_customers_df['user_id'].nunique()

# Calculate the number of customers eliminated
eliminated_customer_count = original_customer_count - active_customer_count

print(f"Number of eliminated customers: {eliminated_customer_count}")

Number of eliminated customers: 77690

In [16]:
active_customers_df.to_pickle(os.path.join(path, 'active_customers_df.pkl'))

In [17]:

# For the active_customers_df DataFrame
print("Columns in active_customers_df:")
print(list(active_customers_df.columns))

Columns in active_customers_df:
['user_id', 'order_id', 'order_number', 'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order', 'product_id', 'add_to_cart_order', 'reordered', 'product_name', 'aisle_id', 'department_id', 'prices', '_merge', 'busiest_day', 'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag', 'mean_spend', 'spending_flag', 'median_order_frequency', 'order_frequency_flag', 'gender', 'state', 'age', 'date_joined', 'n_dependants', 'fam_status', 'income', 'exclusion_flag']